[Desktop Entry]
Name=HumanBodyTool
Name[el]=Εργαλείο ανθρώπινου σώματος
Name[en_GB]=HumanBodyTool
Name[es]=HerramientaCuerpoHumano
Name[et]=Inimkeha tööriist
Name[fr]=HumanBodyTool
Name[ga]=HumanBodyTool
Name[gl]=HumanBodyTool
Name[it]=StrumentoCorpoUmano
Name[km]=ឧបករណ៍​ខ្លួន​មនុស្ស
Name[nds]=Minschen-Warktüüch
Name[nl]=HumanBodyTool
Name[pt]=Ferramenta do Corpo Humano
Name[sv]=Människokroppsverktyg
Name[tr]=İnsanBedeniAracı
Name[uk]=Інструмент «Тіло людини»
Name[x-test]=xxHumanBodyToolxx
X-KDE-ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolhumanbodytool
X-Krita-Version=3
