<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritahumanbodyview" version="1">
<MenuBar>
 <Menu name="View"><text>&amp;View</text>
  <Action name="ShowHumanBody"/>
 </Menu>
</MenuBar>
</kpartgui>
