[Desktop Entry]
Name=HumanBodyView
Name[el]=Προβολή ανθρώπινου σώματος
Name[es]=VerCuerpoHumano
Name[et]=Inimkeha vaade
Name[km]=ទិដ្ឋភាព​ខ្លួន​មនុស្ស
Name[nds]=Minschen-Ansicht
Name[pt]=Vista do Corpo Humano
Name[pt_BR]=Vista do Corpo Humano
Name[sv]=Människokroppsvy
Name[x-test]=xxHumanBodyViewxx
Comment=HumanBodyView
Comment[el]=Προβολή ανθρώπινου σώματος
Comment[es]=VerCuerpoHumano
Comment[et]=Inimkeha vaade
Comment[km]=ទិដ្ឋភាព​ខ្លួន​មនុស្ស
Comment[nds]=Minschen-Ansicht
Comment[nl]=View op het menselijk lichaam
Comment[pt]=Vista do Corpo Humano
Comment[pt_BR]=Vista do Corpo Humano
Comment[sv]=Människokroppsvy
Comment[x-test]=xxHumanBodyViewxx
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritahumanbodyview
X-Krita-Version=3
